############################################
# Gradle
############################################
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

############################################
# Java / Spring
############################################
*.class
*.log

############################################
# IntelliJ
############################################
.idea/
*.iml
out/

############################################
# OS
############################################
.DS_Store
Thumbs.db

############################################
# Environment
############################################
.env
.env.*

############################################
# Spring 설정 파일
############################################
application-secret.yml
application-prod.yml

############################################
# Docker
############################################
docker/mysql/data/
docker/mysql/logs/
